*{
    box-sizing: border-box;
}
:root{
    --text-color:#000958;
    --background-color:#FFFAF5;
    --background-item-color: #FFF6ED;
    --btn-color:#FF5B2E;

}
/*================================================= COMMON================================================= */
a{
    
    text-decoration: none;
    color: #000958;
}

.border{
    border: 1px solid orange;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #FFFAF5;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    height: 5000px;
}
h1,h2,h3,h4,h5,h6{font-family: 'Sora', sans-serif;}
input, textarea,select, button{
    font-size: inherit;
    font-family: inherit;
}
.header-fixed{
    position: sticky;
    top: -1px;
z-index: 10;
    background-color: var(--background-color);
    margin: 26px auto 0px;
}
.container{
    width: 1170px;
    height: 50px;
}
.linepage{
    margin-top: 703px;
}
/*================================================= COMMON================================================= */
/*================================================= HEADER STICKY================================================= */


.header-fixed .container{
    display: flex;
    margin: 0 auto;

}
.head-navigation{
    margin-right: 229px;
}
.signup{

   line-height: 50px;
   text-align: center;
    width: 117px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid rgb(0,9,88,0.7);
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;

}
.signup:hover{
   background-color: #000958;
   color: #fff;
}
.header-fixed .container .main-logo{
    margin: 4px 229px 0 0 ;
    
}
.navigation{
    display: flex;
    width: 491px;
    height: 50px;
}

.navigation__link{
    display: inline-block;
    color: #5E6085;
    margin-top: -1px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    
}
.navigation__link:hover{
    text-shadow: 1px 0 0 currentColor;
    color: var(--text-color);
}
.navigation__item:nth-child(n+2){
    margin-left: 36px;
}
.header{
    background-color: var(--background-color);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
}
/*================================================= HEADER STICKY================================================= */
/*================================================= HEADER================================================= */

.header{
    margin-top: 176px;
    height: 604px;
}

.header .container{
    display: flex;
    height: 600px;
    margin: 0 auto;
}
.header__media{
    
    position: relative;
    display: flex;
    width: 609px;
    flex: 0.5;
}
.header__media-left{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    background-color: #FE997B;
    z-index: 1;
    border:3px solid #FFF;
    border-radius:16px;
    width: 388px;
    height: 488px;
}
.hero-img{
    border-radius:16px;
    max-width: 100%;
    max-height: 100%;
}
.decor-img{
    position: absolute;
}
.decor-img__left{
    position: absolute;
    left: -58px;
    bottom: 9.5px;
}
.decor-img__right{
    position: absolute;
    left: 372px;
    top: 16.66px;
}
.header__media--right{
    display: flex;
    position: relative;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    background: #FAA7AD;
    border: 2px solid #ffc0c4;
    border-radius: 16px;
    z-index: 2;
    left: -24px;
    bottom: 42px;
    width: 186px;
    height: 244px;
}
.hero-img--small{
    max-width: 100%;
    max-height: 100%;
}

.header__card{
    position: absolute;
    align-self: flex-end;
    z-index: 2;
    left: 129px;
    top: 426px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);

}
.header__card-1{
    display: flex;
}
.line--short, .line--long{
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.line--long{
    margin-top: 7px;
    width: 118px;
height: 4px;
flex-shrink: 0;
}
.line--short{
    margin-top: 6px;
    width: 39px;
height: 4px;
flex-shrink: 0;
}
.header__card--line{
    background: #F2F2F2;
    margin-top: 23px;
    margin-bottom: 22px;
    width: 222px;
    height: 2px;
}
.header__card-1 .group{
    margin-left: 9px;
}
.header__warp{

    margin: 18px 14px;

}
.header__card-1 .card-1__img{
    width: 40px;
    height: 40px;
}
.header__card-1 .card-1__img .card-1{
    transform: translate(-5px,-1px);
    width: 40px;
    height: 40px;
}
.header__card-1 .title-card{
    color: #181E52;
 
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    width: 75px;
    height: 14px;
}
.header__contents{
    display: flex;
    flex: .5;

}
.header__content--warp{
     position: relative;
     margin-left: auto;
     margin-top: auto;
     margin-bottom: 71px;
    width: 517px;
    height: 440px;
}
.header__title{
    color: #000958;
font-size: 6.6rem;
font-style: normal;
font-weight: 800;
line-height: 7.6rem;
}
.header__desc{
    color: #656689;
font-family: Poppins;
margin-top: 24px;
margin-bottom: 38px;
width: 391px;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 3rem; 
}
.header__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 189px;
height: 60px;
flex-shrink: 0;
border-radius: 31px;
background: #FF5B2E;
box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.header__btn .link{
    width: 99px;
    height: 16px;
}
.fa-solid.fa-angle-right{
    margin-left: 10px;
}
.header__content--warp .call{
color: #000958;
text-align: center;
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: 1.6rem; /* 100% */
text-decoration-line: underline;
    margin-left: 24px;
}
.about{
    display: flex;
    justify-content: center;
    margin-top: 77px;
    height: 665px;

}
.about .container{
    display: flex;
    height: 559px;
}
.about__content{

    align-self: center;
    width: 477px;
    height: 405px;
}
.about-tag{
    color: #5E6085;
font-family: Sora;
font-size: 1.6rem;
font-style: normal;
font-weight: 600;
line-height: 1.6rem; 
}
.about__title{

    color: #000958;
font-family: Sora;
margin-top: 15px;
width: 446px;
font-size: 5.2rem;
font-style: normal;
font-weight: 700;
line-height: 6.2rem;
}
.about__desc{
    color: #656689;
font-family: Poppins;
margin-top: 24px;
width: 431px;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 3rem;
}
.about__group{
    margin-top: 53px;
    width: 477px;
    height: 82px;

}
.about .container{
    margin-top: 77px;
}
.warp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.about__group .box{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #FF5B2E;

}
.about__group .check--item{
    display: inline-block;
    align-items: center;
    margin-left: 10px;
}
.about__group--item{
    display: flex;
    align-items: center;
    min-width: 190px;
    margin-top: 14px;
    margin-left: 14px;
}

.fa-solid.fa-check{
    position: absolute;
    color: #fff;
    top: 3px;
    left: 5px;
}
.about__media{
    
    align-self: flex-start;
    margin-left: 108px;
    width: 636px;
    height: 559px;
}
.about__media .media{
    display: flex;
    position: relative;
    margin-left: auto;
    width: 494px;
    height: 559px;

}
.about__media .media__img{
    position: absolute;
    align-self: flex-end;
    margin-top: auto;
    margin-left: 23px;
}
.card__media{
    position: absolute;
    top: 157px;
    right: 429px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.card__media .title{
    color: #FFF;
    text-align: center;
    font-family: Sora;
    margin-top: 31px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 100% */
}
.card__media .desc{
    color: #C6F4F9;
    text-align: center;
    font-family: Poppins;
    margin: 14px auto 29px;
    width: 83px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.catfoot{
    position: absolute;
    left: 84px;
    bottom: 110px;
}

.background__media{
    align-self: self-end;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    width: 494px;
    height: 336px;
    flex-shrink: 0;
}
/* <!-- ===========================Features======================== --> */
.features{
    margin-top: 77px;
    height: 570px;
}
.features .container{
    display: flex;
    margin: auto auto;
    height: 570px;
}
.features__media{
    display: flex;
    width: 500px;
    height: 570px;
}
.features__background{
    position: absolute;
    border-radius: 18px;
border: 2px solid #FFF;
background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    width: 458px;
    height: 500px;
}
.features__media--warp{
    position: relative;
    margin-top: 16px;
    width: 458px;
    height: 500px;
}
.feature__media--img{
    position: absolute;
    align-self: flex-end;
}
.features__content{
    margin-top: 52px;
    margin-left: 85px;

    width: 557px;
    height: 459px;
}
.feature__title{
    color: #000958;
font-family: Sora;
font-size: 5.2rem;
font-style: normal;
font-weight: 700;
line-height: 6.2rem; 
}
.feature__desc{
    color: #656689;
font-family: Poppins;
margin-top: 24px;
width: 511px;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 3rem; 
}
.feature__desc-2{
    color: #656689;
    font-family: Poppins;
    margin-top: 36px;
    margin-bottom: 32px;
    width: 511px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; 
}
.feature__list{
    display: flex;
    margin-top: 52px;
}
.feature__item{
    display: flex;
    color: #48496A;
    min-width: 160px;
    width: 165px;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 1.8rem; 
}
.feature__item .ticker{
    width: 18px;
    height: 18px;
}
.feature__item:nth-child(n+2){
    margin-left: 30px;
}
.features__content--line{
    margin-top: 11px;
    opacity: 0.07;
    background: #FF5B2E;
    width: 557px;
    height: 2px;
}
.features__content--line--active{
    background: #FF5B2E;
    width: 95px;
height: 2px;
}
.viewmore-link{
    color: #FF5D31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem; 
}